<!doctype html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">    

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="refresh" content="4; URL='/'" />

    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/style.css">

    <title>WO984 Blog</title>

</head>

<body>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-lg-12">

            <div class="panel panel-default text-center">

                <div class="panel-heading">

                    <h1>Welcome</h1>
                   
                </div>

                <div class="panel-body text-center">

                    <p class="lead">{{username}} - Thanks for logging in !!!</p>

                </div>

            </div>

        </div>

    </div>

</body>

</html>